.slick-prev {
    // position: relative !important;
    left: -10px !important;
    z-index: 100 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;
    &:hover {
        background: #e9e8e8 !important;
    }
}

.slick-prev:before,
.slick-next:before {
    font-family: FontAwesome !important;
    color: red !important;
    // content: "\f060" !important;
}

.slick-next {
    right: -10px !important;
    z-index: 100 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;
    &:hover {
        background: #e9e8e8 !important;
    }
}

@media (max-width: 1023px) {
    .slick-prev {
        left: -5px !important;
        height: 24px !important;
        width: 22px !important;
    }
    .slick-next {
        right: -5px !important;
        height: 24px !important;
        width: 22px !important;
    }
    .slick-prev:before,
    .slick-next:before {
        font-size: 13px !important;
    }
}

.slick-disabled {
    display: none !important;
}

.section-share {
    &.section-specialty {
        background-color: #f5f5f5;
    }
    &.section-outstanding-doctor {
        background-color: #f5f5f5;
    }
    &.section-about {
        height: 500px !important;
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
    }
    .section-body {
        .section-customize {
            .bg-image {
                width: 323px;
                height: 150px;
                box-shadow: 0.7px 0.7px #45c3d2;
                margin-right: auto;
                margin-left: auto;
                display: block;
                background-color: #eee;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                &.section-specialty {
                    //background-image: url('../../assets/specialty/co-xuong-khop.jpg');
                }
                &.section-medical-facility {
                    //background-image: url('../../assets/medical-facility/benh-vien-thu-cuc.jpg');
                }
                &.section-outstanding-doctor {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    box-shadow: none;
                    //background-image: url('../../assets/outstanding-doctor/anh-dai-dien-bs.jpg');
                }
                &.section-note {
                    //background-image: url('../../assets/note/note.jpg');
                }
            }
            .customize-content {
                margin-left: 26px;
            }
            @media (max-width: 1023px) {
                .bg-image {
                    width: 160px;
                    height: 80px;
                }
                .customize-content {
                    margin-left: 10px;
                    font-size: 12px;
                    width: 90%;
                }
                &.section-outstanding-doctor {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                }
            }
        }
    }
    @media (max-width: 1023px) {
        &.section-about {
            height: 300px !important;
        }
    }
}

.section-share {
    //height: 330px;
    .section-container {
        margin: 0 100px;
        display: flex;
        flex-direction: column;
        // min-height: 500px;
        .section-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;
            .title-section {
                font-size: 22px;
                font-weight: 600;
                margin-left: 20px;
            }
            .btn-section {
                float: right;
                padding: 10px 15px;
                margin-right: 20px;
                border: none;
                outline: none;
                display: block;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;
                &:hover {
                    color: #fff;
                    background: #48bee6;
                }
            }
        }
    }
    @media (max-width: 1023px) {
        .section-container {
            margin: 0 50px;
            display: flex;
            flex-direction: column;
            // min-height: 500px;
            .section-header {
                height: 40px;
                margin-bottom: 20px;
                padding-top: 20px;
                .title-section {
                    font-size: 17px;
                    margin-left: 10px;
                }
                .btn-section {
                    padding: 5px 8px;
                    margin-right: 10px;
                    font-size: 10px;
                }
            }
        }
    }
}

.section-outstanding-doctor {
    .outer-bg {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .section-customize {
        padding: 5px;
        cursor: pointer;
        .customize-border {
            border: 1px solid #48bee6;
            padding: 20px;
        }
    }
}

.home-footer-down {
    text-align: center;
    padding-top: 8px;
    a {
        text-decoration: unset;
    }
}

.section-about {
    padding: 0 100px;
    .section-about-header {
        padding: 20px 10px;
        font-size: 22px;
        font-weight: 600;
    }
    .section-about-content {
        display: flex;
        gap: 15px;
        width: 100%;
        .content-left {
            width: 60%;
        }
        .content-right {
            width: 40%;
            p {
                text-align: justify;
                font-style: italic;
                padding-top: 15px;
            }
        }
    }
}